body {
    margin: 0 auto;
    width: 1280px;
    font-family: Arial;
}

/* 1 block */

.main-header {
    width: 100%;
    min-height: 323px;
    padding: 50px;
    box-sizing: border-box;
    background-color: #445161;
}

.main-header:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.main-header-wrapper {
    float: left;
}

.main-header-title {
    color: #ffffff;
    font-size: 60px;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}

.main-header-list {
    list-style-type: none;
    color: #ffffff;
    font-size: 20px;
    line-height: 36px;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
    margin: 20px 0 0 0;
}

.main-header-list-item {
    position: relative;
}

.main-header-list-item:before {
    content: "";
    display: block;
    width: 25px;
    height: 19px;
    position: absolute;
    top: 7px;
    left: -37px;

    background-image: url(../img/icon_decor.png);
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.main-header-product-video {
    display: block;
    background-color: #ffffff;
    float: right;
}

/* 2 block */

.about-product {
    background-color: #ffffff;
    width: 100%;
    min-height: 320px;
    padding: 50px;
    box-sizing: border-box;
}

.about-product:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.about-product-wrp {
    float: left;
    width: 649px;
}

.about-product-title {
    font-size: 30px;
    line-height: 36px;
    color: #445161;
    display: block;
    margin-bottom: 30px;
}

.about-product-text-1 {
    margin: 0;
}

.about-product-text-2 {
    margin: 20px 0 0 0;
}

.about-product-video {
    display: block;
    background-color: #445161;
    float: right;
}

/* 3 block */

.dignity {
    width: 100%;
    padding: 50px;
    background-color: #f5f5f5;
    box-sizing: border-box;
}

.dignity:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.dignity-title {
    display: block;
    margin: 0 0 24px 0;
    text-align: center;
    font-size: 30px;
    color: rgb(68, 81, 97);
    line-height: 1.2;
}

.dignity-list {
    width: 540px;
    margin: 0;
    padding: 0 0 0 46px;
    list-style-type: none;
    float: left;
}

.dignity-list:nth-child(3) {
    float: right;
}

.dignity-list-item {
    margin: 0 0 40px 0;
    position: relative;
}

.dignity-list:nth-child(2)>.dignity-list-item:nth-child(3),
.dignity-list:nth-child(3)>.dignity-list-item:nth-child(3) {
    margin: 0;
}

.dignity-list-item:before {
    content: "+";
    display: block;
    width: 32px;
    height: 32px;
    background-color: #445161;
    color: white;
    font-size: 28px;
    text-align: center;
    line-height: 32px;
    position: absolute;
    top: 0;
    left: -46px;
}

/* 4 block */

.padding-site {
    padding: 50px;
    box-sizing: border-box;
}

.screenshots {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.screenshots-title {
    display: block;
    width: 100%;
    text-align: center;
    font-family: Arial;
    font-size: 30px;
    line-height: 36px;
    color: #445161;
    margin: 0 0 35px 0;
}

.screenshots-item {
    width: 49%;
    margin: 0 0 30px 0;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.screenshots-item:nth-child(4),
.screenshots-item:nth-child(5) {
    margin: 0;
}

.screenshots-photo {
    display: block;
    margin: 0 15px 0 0;
    background-color: #445161;
}

.screenshots-item-txt {
    width: 60%;
    height: 100%;
    box-sizing: border-box;
}

.screenshots-item-txt span {
    margin: 0;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #445161;
}

.screenshots-item-txt p {
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 14px;
    line-height: 18px;
    color: #333333;
}

/* 5 block */

.padding-site {
    padding: 50px;
    box-sizing: border-box;
}

.reviews {
    width: 100%;
    background-color: #f5f5f5;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.reviews-title {
    display: block;
    width: 100%;
    text-align: center;
    font-family: Arial;
    font-size: 30px;
    line-height: 36px;
    color: #445161;
    margin: 0 0 35px 0;
}

.reviews-item {
    width: 50%;
    margin: 0 0 30px 0;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.reviews-item:nth-child(4),
.reviews-item:nth-child(5) {
    margin: 0;
}

.reviews-photo {
    display: block;
    border-radius: 50%;
    background: url(img/Lourens.jpg);
    background-repeat: no-repeat;
    margin: 0 20px;
    background-color: #445161;
}

.reviews-wrp {
    background-color: #ccc;
    position: relative;
    width: 80%;
    border-radius: 5px;
    padding: 15px;
    box-sizing: border-box;
}

.reviews-wrp:before {
    content: "";
    border: 15px solid transparent;
    border-right: 15px solid #ccc;

    position: absolute;
    top: 20px;
    left: -30px;
}

.reviews-wrp p {
    margin: 0 0 10px 0;
}

/* 6 block */

.price {
    width: 100%;
    padding: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}

.price-title {
    display: block;
    width: 100%;
    font-size: 30px;
    line-height: 36px;
    color: #445161;
    margin: 0 0 20px 0;
    text-align: center;
    font-size: 28px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

.price-item {
    width: 300px;
    min-height: 100px;
    margin: 0 45px 0 0;
    padding: 0 0 10px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid;
    background-color: #445161;
    border: 2px solid #445161;
    border-radius: 10px;
    color: #fff;
}

.price-item:last-child {
    margin: 0;
}

.price-item-title,
.price-item-cost {
    display: block;
    width: 100%;
    margin: 0;
    text-align: center;
    padding: 15px;
    font-size: 24px;
    line-height: 30px;
    color: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.price-item-cost {
    font-size: 40px;
    line-height: 30px;
    padding: 10px;
    margin: 0 0 10px 0;
    background-color: #fff;
    color: black;
}

.price-item-list {
    margin: 0 0 10px 0;
    padding: 10px 20px;
    list-style-position: inside;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
}

.price-item-btn {
    display: block;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #445161;
    margin: 0 auto;
    padding: 5px 10px;
    width: 260px;
    height: 40px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.price-item-btn:hover {
    background-color: #445161;
    color: #fff;
}

.price-item-btn:active {
    background-color: #fff;
    color: #445161;
}

/* 7 block */

.main-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    padding: 50px;
    background-color: #445161;
}

.main-footer-title {
    display: block;
    width: 100%;
    margin: 0 0 30px 0;
    font-family: Arial;
    color: #ffffff;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}

.main-footer-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 500px;
    margin: 0 46px 0 0;
}

.main-footer-form input[type="text"],
.main-footer-form input[type="email"],
.main-footer-form textarea {
    width: 100%;
    height: 40px;
    margin: 0 0 20px 0;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: #ffffff;
    outline: none;
    text-transform: capitalize;
}

.main-footer-form input[type="text"]:hover,
.main-footer-form input[type="email"]:hover,
.main-footer-form textarea:hover {
    background-color: gray;
    color: white;
    border-color: white;
}

.main-footer-form input[type="text"]:hover::placeholder,
.main-footer-form input[type="email"]:hover::placeholder,
.main-footer-form textarea:hover::placeholder {
    color: white;
}

.main-footer-form textarea {
    height: 170px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: #ffffff;
    outline: none;
}

input[placeholder],
textarea[placeholder] {
    text-overflow: ellipsis;
    color: #445162;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
}

.main-footer-form input[type="submit"] {
    border-radius: 5px;
    background-color: #ffffff;
    width: 140px;
    height: 40px;
    text-transform: uppercase;
    color: #445162;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    outline: none;
}

.main-footer-form input[type="submit"]:hover {
    background-color: gray;
    color: white;
}

.main-footer-form input[type="submit"]:active {
    background-color: #ffffff;
    color: #445162;
}

.main-footer-contacts {
    width: 240px;
    height: 320px;
    margin: 0;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
}

.main-footer-contacts-link {
    display: block;
    margin: 0 0 15px 0;
    padding: 0 0 0 30px;
    position: relative;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
}

.main-footer-contacts-link:last-of-type {
    margin: 0 0 32px 0;
}

.main-footer-contacts-link:before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 1px;
    left: 0;
}

.main-footer-contacts-link:nth-of-type(1):before {
    background-image: url('../img/skype_ic.png');
}

.main-footer-contacts-link:nth-of-type(2):before {
    background-image: url('../img/icq_ic.png');
}

.main-footer-contacts-link:nth-of-type(3):before {
    background-image: url('../img/mail_ic.png');
}

.main-footer-contacts-link:nth-of-type(4):before {
    background-image: url('../img/tel_ic.png');
}


.main-footer-contacts-icons {
    display: flex;
    justify-content: space-between;
}

.main-footer-contacts-net {
    display: block;
    width: 43px;
    height: 42px;
    background-image: url(../img/social_icons.png);
}

.main-footer-contacts-net:nth-child(1){
    background-position: 0 0;
}

.main-footer-contacts-net:nth-child(2){
    background-position: -49px 0;
}

.main-footer-contacts-net:nth-child(3){
    background-position: -98px 0;
}

.main-footer-contacts-net:nth-child(4){
    background-position: -149px 0;
}

.main-footer-contacts-net:nth-child(5){
    background-position: -197px 0;
}

.copyright {
    display: block;
    text-align: center;
    padding: 8px 0;
    background-color: #f5f5f5;
}


