body {
    margin: 0 auto;
    width: 1280px;
}

.main-header {
    width: 100%;
    min-height: 323px;
    padding: 50px;
    box-sizing: border-box;
    background-color: #445161;
}

.main-header-wrapper {
    float: left;
}

.main-header-title {
    font-family: Arial;
    color: #ffffff;
    font-size: 60px;
    font-weight: 400;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}

.main-header-list {
    list-style-type: none;
    font-family: ArialMt;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}

.main-header-list-item {
    position: relative;
}

.main-header-list-item:before {
    content: "";
    display: block;
    width: 25px;
    height: 19px;
    position: absolute;
    top: 7px;
    left: -37px;

    background-image: url('https://images.vexels.com/media/users/3/143487/isolated/preview/7fe39483697e2065910f66e9dacafd7e-turquoise-tick-check-mark-by-vexels.png');
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.main-header-product-photo {
    display: block;
    background-color: #ffffff;
    width: 469px;
    height: 214px;
    float: right;
}

/* Второй блок */

.about-product {
    background-color: #ffffff;
    width: 100%;
    min-height: 323px;
    padding: 50px;
    box-sizing: border-box;
}

.about-product-wrp {
    float: left;
    width: 649px;
}

.about-product-title {
    font-family: ArialMT;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    display: block;
    margin-bottom: 30px;
}

.about-product-text-1 {
    font-family: ArialMT;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
    display: block;
    margin: 0;
    padding-bottom: 20px;
}

.about-product-text-2 {
    font-family: ArialMT;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
    margin: 0;
}

.about-product-img-photo {
    display: block;
    background-color: #445161;
    width: 469px;
    height: 214px;
    float: right;
}
